# Copia este archivo como .env y rellena los valores sensibles

# --- BASE DE DATOS POSTGRES ---
POSTGRES_PORT=5436
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=sistema_bancario_ice

# --- BASE DE DATOS MONGO ---
MONGO_PORT=27018
MONGO_DB_NAME=banking-service

# --- PUERTOS EN USO DE SERVICIOS ---
AUTH_SERVICE_PORT=5210
BANKING_SERVICE_PORT=3050
CLIENT_ADMIN_PORT=5174

# --- CONFIGURACIONES JWT ---
JWT_SECRET=
JWT_ISSUER=BankingService
JWT_AUDIENCE=BankingService
JWT_EXPIRES_IN=1h

# --- CONFIGURACIONES FRONTEND URLS ---
VITE_AUTH_URL=http://localhost:5210/api/v1
VITE_ADMIN_URL=http://localhost:3050/BankingService/v1

# --- CONFIGURACIONES DE CLOUDINARY ---
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_BASE_URL=
CLOUDINARY_FOLDER=auth_ks_in6av/profiles
CLOUDINARY_DEFAULT_AVATAR=avatarDefault-1749508519496.png

# --- CONFIGURACIONES DE SMTP ---
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=
SMTP_ENABLE_SSL=true

# --- CONFIGURACIONES APP ---
FRONTEND_URL=http://localhost:5174
NODE_TLS_REJECT_UNAUTHORIZED=0
