# Copia este archivo como .env y rellena los valores
PORT=3050

URI_MONGODB=mongodb://localhost:27017/banking-service

JWT_SECRET=
JWT_EXPIRES_IN=1h
JWT_ISSUER=BankingService
JWT_AUDIENCE=BankingService

NODE_TLS_REJECT_UNAUTHORIZED=0
